# Banco de Dados
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/escolaonline"

# NextAuth
AUTH_SECRET="sua-chave-secreta-aqui"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend (e-mail)
RESEND_API_KEY=""
